@use "veriables";

.container {
  background-color: veriables.$bg-body;
  form {
    display: flex;
    justify-content: center;
    padding: 1rem;
    #search {
      text-align: center;
    }
  }
}
.cardDiv {
  div {
    background-color: veriables.$card-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    button {
      background-color: red;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-top: 0.5rem;
      border-radius: 5px;
      border: none;
      i {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    img {
      margin: auto;
      width: 150px;
      height: 150px;
    }
  }
}
